

    <div class="well well-lg">

        <h1>Complete Your Date Night Profile</h1>
        We’re excited to start planning your date nights. Please tell us about yourself, so your Concierge can pick restaurants and events based on your specific preferences.
    </div>


        <div class="form-group">
            <label for="nameField">Name</label>
            <input type="text" class="form-control" id="nameField" placeholder="Full Name" ng-model="surveyCtrl.profile.displayName">
        </div>
        <div class="form-group ">
            <label for="address">Address</label>
            <input type="textarea" class="form-control" id="address" placeholder="Address" ng-model="surveyCtrl.profile.address">
        </div>
       <div class="form-group ">

            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="City" ng-model="surveyCtrl.profile.city">
        </div>


    <h3>
        What style of restaurants do you prefer?
    </h3>


        <div class="panel-body two-col">
            <div class="row">
                <div class="col-md-4" ng-repeat="restaurantType in surveyCtrl.restaurantTypes">
                    <div class="well well-sm">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="surveyCtrl.profile.restaurants[restaurantType]">
                                {{restaurantType}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h3>
            Who are your favorite musicians?
        </h3>

        <div class="panel-body two-col">
            <div class="row">
                <div class="col-md-6" ng-repeat="artist in surveyCtrl.profile.artists">
                    <div class="row">
                        <div class="col-md-12 center-block">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-change="artist.spotify = null" placeholder="artist name #1" ng-model="artist.artistName" class="form-control"/>
                                <span class="input-group-btn">
                                    <button ng-click="surveyCtrl.searchArtist(artist)" class="btn btn-default"> Search</button>
                                </span>
                            </div>

                        </div>
                    </div>


                    <div class="row" ng-if="artist.spotify && artist.spotify.images[0]">
                        <div class="col-sm-12 col-md-12">
                            <div class="thumbnail">
                                <div class="caption center-block">
                                    <h3 class="text-center">{{artist.artistName}}</h3>
                                </div>
                                <img ng-src="{{artist.spotify.images[0].url}}" style="max-height:300px">

                            </div>
                        </div>
                    </div>

                    <div ng-if="artist.spotify == false">
                        Artist Not Found, Please Try Again
                    </div>
                </div>
            </div>
        </div>


    <h3>
        What types of activities are you interested in?
    </h3>


    <div class="panel-body two-col">
        <div class="row">
            <div class="col-md-4" ng-repeat="activityType in surveyCtrl.activityTypes">
                <div class="well well-sm">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" ng-model="surveyCtrl.profile.activities[activityType]">
                            {{activityType}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <button class="btn btn-default center-block btn-success" ng-click="surveyCtrl.updateProfile()">
            Save Results
        </button>

